*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 2vw;
    margin-left: 5vh;
    margin-right: 5vh;
}

.header{
    border: 2px solid black;
}

h1{
    font-size: 5vh;
    color: red ;
    border: 2px solid black;
    margin-bottom: 1vh;
    text-align: center;
}

.navbar{
    border: 2px solid black;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.tunga{
    height: 40vh;
}

.artikol{
    border: 2px solid black;
    height: 40vh;
    width: 75vw;
    float: left;
}

.asayd{
    border: 2px solid black;
    height: 40vh;
    width: 36vh;
    float: right;
    
}



.ubos{
    margin-top: 2vh
}

.isa{
    border: 2px solid rgb(0, 0, 0);
    height: 20vh;
    width: 46vw;
    float: left;

}

.duha{
    border: 2px solid rgb(0, 0, 0);
    height: 20vh;
    width: 46vw;
    float: right;

}

.tiil{
    margin-top: 25vh;
    height: 15vh;

    border: 2px solid rgb(0, 0, 0)
}